@charset "UTF-8";


/* 0. HTML CORE */
html {
	height: 90%;
	overflow-y: scroll;
	// margin-left: calc(100vw - 100%);
    // margin-right: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: white;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0.322); 
	box-sizing: border-box;
}

.bg {
	margin-left: calc(100vw - 100%);
    margin-right: 0;
}

body {
	height: 100vh;
	margin: 0;	
	visibility: hidden;
}

a {
	text-decoration: none;
}

:active, :focus { 
	outline: none; 
	-moz-outline-style: none;
	outline-style: none; 
}

/* 1. LOADER */
.preloader {
	display: flex;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 45%;
	justify-content: center;
	z-index: 3;
	visibility: hidden;
	transition: 0.05s;
}

.circlespin {
		border: 4px solid transparent;
		border-radius: 50%;
		border-top: 3px solid rgb(100, 100, 100);
		width: 30px;
		height: 30px;
		-webkit-animation: spin 0.5s linear infinite; /* Safari */
		animation: spin 0.5s linear infinite;
	  }
	  
	  /* Safari */
	  @-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	  }
	  
	  @keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
}


/* 2. CONTAINER */
.gridwrapper {
	height: auto;
	transition: transform;
		&.shrink {
		transform: translateY(-205px);
		}
	will-change: opacity;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
	width: 60%;
	grid-gap: 2px;
	max-width: 100vh;
	

	&.masonry {
	grid-auto-rows: 2px;
	}

	>div {
		text-align: center;
	}
}

/* 3. GALLERY */
.columns {
	float: left;
	width: calc(33.33333% - 2px);
	height: min-content;
	margin-right: 1px;
	margin-left: 1px;
	  &.left {
		margin-right: 1px;
	  }
	  &.right {
		  margin-left: 1px;
	  }
	}
.row {
	margin: auto;
	width: 60%;
	max-width: 100vh;

	&:after {
	  content: "";
	  display: table;
	  clear: both;
	} 
}

// .columns {
// 	columns: 3;
// 	margin: auto;
// 	width: 60%;
// 	gap: 2px;
// 	max-width: 100vh;
// }

/* 4. GRID ITEMS */
.item2 {
	position: relative;
	background-color: #555;
	width: 100%;
	margin-bottom: 2px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		transition: opacity 200ms;
		opacity: 1;

		&[data-src] {
			opacity: 0;
		}
	}

}	

.item1 {
	position: relative;
	background-color: #555;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;

//4A. Hover Buttons	
	&:hover .overlay.art {
		opacity: 0.5;
	}
	&:hover .overlay.travel {
		opacity: 0.55;
	}

	&:hover .overlay.architecture {
		opacity: 0.4;
	}

	&:hover .buttontext {
		opacity: 1;
	}

	.buttontext {
		display: flex;
		width:100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: source-sans-pro, sans-serif;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.35em;
		font-size: 1.6vh;
		z-index: 3;
		opacity: 0;
		position: absolute;
		color:white;
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		display: block;
		width: 100%;
	}
	a {
		&.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			&.art {
				background-color: #AB3E16;
			}
			&.architecture {
				background-color:#efaa52;
			}
			&.travel {
				background-color: #2096ba;
			}
		  }
	}

//4B. Page spans	
	&.general {
		height: 30vh;
		padding-bottom: 0;
	}
	
	&.fullspan {
	width: 100%;
	height: 45vh;
	grid-column-start: span 3;
	
	padding-bottom: 0;
	}

	&.spacer {
	width: 100%;
	height: 30px;
	background-color: rgb(248, 255, 255);
	grid-column-start: span 3;
	
	padding-bottom: 0;
	}
	
}

/* 5. HEADER */
.header {
	position: relative;
	width: 100%;
	height: 31%;
	z-index: 1;
	transition: transform 300ms;
	will-change: transform;
		
		&.rows2 {
		height: 16%
		}	

		&.shrink {
		transform: translateY(-50%);

			&.sticky {
			position: -webkit-sticky;
			position: sticky;
			top: 0px;
			height: 7vh;
			background-color:#ffffff;
			}
		}
}

/* 6. HEADER TITLE NAV */
.header-title {
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 8px;
	font-size: 29px;
	text-indent: 5px;
	position: absolute;
	text-align: center;
	bottom: 50px;
	// bottom: 42px;
	width: 100%;
		a:visited {
			color: rgb(104, 104, 104);
		&:hover {
			color: rgb(31, 31, 31);
		}
	}
}

.menu {
	position: absolute;
	text-align: center;
	bottom: 23px;
	// margin-bottom: 20px;
	width: 100%;
	word-spacing: 1.1em;

	a {
		color: rgb(85, 85, 85);
		font-family: source-sans-pro, sans-serif;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 10px;
	}
}

/* 7. FOOTER ICONS */
.footer {
	color: rgb(202, 202, 202);
	position: absolute;
	height: 4vh;
	text-align: center;
	width: 100%;
	margin-top: 4vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	// display: none;
	width: 0.5em;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	background: #f1f1f1;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #888;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #555;
	}


//MEDIAQUERIES
/* 1. Mobile */
@media (min-width: 0px) and (max-width: 320px) {
body {
	height: 95%;
}
.container {
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: 0.5fr;
	width: 95%;
}
}

/* 2. Small Tablets */
@media (min-width: 321px) and (max-width: 767.9px) {
html {
	scroll-behavior: auto;
}

body {
	height: 100vh;
}

.header {
	transition: none;
	transform: translateY(-60%);
	&.shrink {
	transform: translateY(-60%);
}
}
.columns {
	columns: 1;
	width: 100%;
}
.container {
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: 0.5fr;
	width: 85%;
	

	&.masonry {
		grid-auto-rows: 2px;
		}
}

.item1 {
	overflow: hidden;
	&:hover .overlay.art {
		opacity: 0;
	}
	&:hover .overlay.travel {
		opacity: 0;
	}

	&:hover .overlay.architecture {
		opacity: 0;
	}

	&:hover .buttontext {
		opacity: 0;
	}
	.buttontext {
		opacity: 0;
	}
	>img {
		width: 100%;
	}
	a {
		&.overlay {
			opacity: 0;
			&.art {
				background-color: #AB3E16;
			}
			&.architecture {
				background-color:#efaa52;
			}
			&.travel {
				background-color: #2096ba;
			}
		  }
	}
}

.menu {
	position: fixed;
 	text-align: center;
	top: 0;
	padding-top: 30px;
	padding-bottom: 15px;
	width: 100%;
}

.header-title {
	position: absolute;
	text-align: center;
	bottom: 25px;
	width: 100%;
	font-size: 33px;
}

.gridwrapper {
	
	transform: translateY(-150px);
	&.shrink {	
	transform: translateY(-150px);
	}
}
}

/* 3. Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.container, .row {
		width: 80vw;
	}

	.gridwrapper.shrink {
		transform: translateY(-150px);
		}
}


/* 4. Large Desktops */
@media (min-width: 1097px) and (max-width: 1800px) {
.container, .row{
		width: 80vw;
		max-width: 100vh;
	}

	.gridwrapper {
		&.shrink {	
		transform: translateY(-150px);
		}
	}
	
}

@media (min-width: 1801px) {
	.gridwrapper {
		&.shrink {	
		transform: translateY(-150px);
		}
	}
	
}

//  .mini {
//  	color: rgb(235, 235, 235);
//  	font-family: source-sans-pro, sans-serif;
//  	font-style: normal;
//  	font-weight: 400;
//  	text-transform: lowercase;
//  	letter-spacing: 1px;
//  	font-size: 8px;
//  	margin-top: 4vh;	
//  } 